<template>
	<Page>
		<ActionBar title="Welcome to NativeScript-Vue!"/>
		<GridLayout rows="*, auto">
			<StackLayout row="0">
				<Label class="message" text="Push notification test" col="0" row="0"/>
				<Label text="Push notification token:" marginTop="20px" marginBottom="20px" />
				<TextView :text="token" borderWidth="1px" borderColor="black" padding="20px" textWrap="true" fontSize="16" />
				<StackLayout marginTop="20px">
					<Label text="Message" />
					<TextView :text="message" />
				</StackLayout>
			</StackLayout>
			<StackLayout orientation="vertical" row="1">	
				<Button width="100%" text="Get token" @tap="getPushToken" />
				<Button width="100%" text="send push" @tap="triggerPushNotification" />
				<Button width="100%" text="copy token" @tap="copyToken" />
			</StackLayout>
		</GridLayout>
	</Page>
</template>

<script lang="ts">
import Vue from 'nativescript-vue'
import { firebase } from '@nativescript/firebase'
import { setText } from 'nativescript-clipboard'

// @ts-ignore
export default Vue.extend({
	data () {
		return {
			token: '',
			message: ''
		}
	},

	mounted () {
		setTimeout(() => {
			this.initializePushNotification()
		}, 1000)
	},

	methods: {
		async triggerPushNotification () {
			const response = await fetch(`https://ourrunner.dev2.bode.link/sandpit/testFCMToken?user=4&token=${this.token}`);
			const data = await response.json()
			alert(data)
		},

		async copyToken () {
			await setText(this.token)
			alert('token copied')
		},

		async initializePushNotification () {

			try {
				await firebase.init({
					showNotificationsWhenInForeground: true,
					showNotifications: false,
					onMessageReceivedCallback: (message: any) => {
						this.message = JSON.stringify(message)
						console.log(this.message)
					},
					onPushTokenReceivedCallback: (token: string) => {
						this.token = token
						console.log(this.token)
					}
				})
			}
			catch (error) {
				alert(error)
			}
		},

		async getPushToken () {
			try {
				const token = await firebase.getCurrentPushToken()
				this.token = token
				alert('Token:' + token)
			}
			catch (error) {
				alert(error)
			}
		}
	}
})
</script>